@import "../css/bootstrap.min.css";
@import "../css/now-ui-kit.css";
@import "app/_variables";
@import "app/_mixins";

*,
*::before,
*::after {
  margin     : 0;
  padding    : 0;
  box-sizing : inherit;
}

html {
  font-size : 62.5%;
}

body {
  box-sizing  : border-box;
  font-family : $default-font;
  height      : 100vh;
  font-size   : $default-font-size;
}

.loader {
  height           : 100vh;
  width            : 100vw;
  background-color : rgba($color-black, 0.4);
  position         : fixed;
  z-index          : 1100;
  &__box {
    height    : 1.8rem;
    width     : 2.2rem;
    position  : absolute;
    top       : 0;
    bottom    : 0;
    left      : 0;
    right     : 0;
    margin    : auto;
    transform : translateX(-10rem);
  }
  &__dot {
    text-align       : center;
    animation        : loader ease-in-out 3s infinite;
    height           : 2.2rem;
    width            : 2.2rem;
    border-radius    : 100%;
    position         : absolute;
    border           : 1px solid $default-color;
    font-weight      : bold;
    color            : $default-color;
    background-color : $color-white;
    &:nth-child(1) {
      animation-delay : .5s;
    }
    &:nth-child(2) {
      animation-delay : .4s;
    }
    &:nth-child(3) {
      animation-delay : .3s;
    }
    &:nth-child(4) {
      animation-delay : .2s;
    }
    &:nth-child(5) {
      animation-delay : .1s;
    }
    &:nth-child(6) {
      animation-delay : 0s;
    }
  }
  &__text {
    position  : absolute;
    top       : 200%;
    left      : 0;
    right     : 0;
    width     : 2rem;
    margin    : auto;
    transform : translateX(6rem);
    &:after {
      content        : "Loading...";
      font-size      : $default-font-size-icon;
      letter-spacing : .5rem;
      color          : $color-white;
      animation      : loading-text ease-in-out 3s infinite;
    }
  }
}

@keyframes loader {
  15% {
    transform : translateX(0);
  }
  45% {
    transform : translateX(23rem);
  }
  65% {
    transform : translateX(23rem);
  }
  95% {
    transform : translateX(0);
  }
}

@keyframes loading-text {
  0% {
    content : "Loading";
  }
  25% {
    content : "Loading.";
  }
  50% {
    content : "Loading..";
  }
  75% {
    content : "Loading...";
  }
}

.show {
  display : block;
}

.hide {
  display : none;
}

.alert {
  position      : absolute;
  z-index       : 900;
  border-radius : 5px;
  &.alert-success {
    background-color : $color-green;
  }
  &.alert-danger {
    background-color : $color-red;
  }
}

#appSideNav {
  left     : 0;
  position : fixed;
  z-index  : 100;
}

.side-nav {
  transition       : all .4s;
  width            : 22rem;
  height           : 100%;
  background-color : darken($color-white, 8%);
  overflow         : hidden;
  &-header {
    border-bottom : 1px solid rgba($color-black, .05);
    a {
      min-width : 5rem;
      font-size : $default-font-size-icon;
      padding   : 1rem 0;
      color     : $default-color;
    }
  }
  &-link {
    a {
      border-radius : 3px;
      transition    : all .2s;
      min-width     : 20rem;
      .icon {
        color : $default-color;
      }
      .name {
        color      : $default-color;
        transition : opacity .4s;
        opacity    : 1;
        &.hide {
          opacity : 0;
        }
      }
      &.router-link-active,
      &.router-link-exact-active,
      &:hover {
        background-color : $color-white;
      }
    }
  }
  &.active {
    width : 5rem;
    & + div.main {
      width : calc(100% - 5rem);
    }
  }
  & + div.main {
    width : calc(100% - 22rem);
  }
}

.main {
  width      : 100%;
  float      : right;
  transition : all 0.4s;
  overflow-x : hidden;
}

.position- {
  &fixed { position : fixed; }
  &relative { position : relative; }
  &absolute { position : absolute; }
}

#login {
  .col-md-6,
  .col-md-12,
  .col-sm-6,
  .col-sm-12 {
    margin-bottom : 2rem;
    label {
      margin-top    : 1rem;
      margin-bottom : .1rem;
      & + .input-group {
        margin-bottom : 0;
      }
    }
    small {
      color     : $color-red;
      font-size : $default-font-size-small;
    }
    i {
      font-size : $default-font-size-small;
    }
  }
}

a,
button,
.button,
.product,
.pointer,
.dropdown-item {
  cursor : pointer;
}

.product .card {
  @include transition(0.2s);
  &:hover {
    transform : scale(1.02);
  }
  i, svg {
    font-size : 9rem;
    opacity   : .1;
    margin    : 1rem auto;
  }
}

hr.style-two {
  border           : 0;
  height           : 1px;
  background-image : linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  width            : 100%;
  float            : left;
  opacity          : 0.6;
}

#employeeEdit,
#customerRegister,
#employeeRegister {
  input, textarea, select {
    border-radius : .4rem;
  }
  .text-muted {
    margin-top : .15rem;
  }
  h5 {
    background-color : rgba($color-black, 0.07);
    padding          : .6rem 1.5rem;
    border-radius    : 3px;
    font-size        : $default-font-size-icon-small !important;
    font-weight      : 700;
    box-shadow       : 0 0 .5rem 0 rgba($color-black, 0.08) inset;
    float            : left;
    width            : 100%;
    color            : rgba($color-black, 0.6);
  }
  .btn-sm {
    height : 2.8rem;
    width  : 2.8rem;
  }
}

.spaceAfter {
  padding : 1rem 0;
  float   : left;
  width   : 100%;
}

.spaceBefore {
  padding : .5rem 0;
  float   : left;
  width   : 100%;
}

.spaceBetween {
  padding : .5rem 0 0 0;
  float   : left;
  width   : 100%;
}

.form-control::placeholder {
  color : rgb(142, 151, 160);
}

button, input, optgroup, select, textarea, .form-control::placeholder {
  font-weight : 500;
}

.fade-enter-active, .fade-leave-active {
  transition : opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity : 0;
}

.bg-default {
  @include transition(.6s);
  background : linear-gradient($default-color-lighter, $default-color-darker);
  color      : $color-white !important;
  &.btn {
    border-radius : 3px;
  }
  &.btn:hover {
    background : linear-gradient(rgba($default-color-lighter, 0.8), rgba($default-color-darker, 0.8)) !important;
  }
}

a {
  text-decoration : none;
  color           : inherit;
  &:hover, &:active, &:visited {
    text-decoration : none;
    color           : inherit;
  }
}

small.text-muted {
  font-size : $default-font-size-small;
  color     : $color-red !important;
  float     : left;
  width     : 100%;
}

.form-group {
  & label, .category {
    font-weight   : 600;
    color         : $default-color;
    margin-bottom : .2rem;
  }
}

[data-bg="default"] { background : $default-color; }

.custom-notify {
  padding          : 2rem 3rem;
  background-color : rgba($color-black, 0.05);
  border-radius    : 4px;
  border           : 1px solid rgba($color-black, 0.1);
  margin-bottom    : 2rem;
}

nav {
  z-index : 10;
  .navbar-brand {
    img {
      height : 4rem;
    }
  }




  #navigation {
    li > .nav-link:hover,
    li > .router-link-active,
    li > .router-link-exact-active {
      color            : $color-white !important;
      background-color : $default-color;
    }
    .nav-link {
      padding       : 1rem 2rem;
      font-weight   : 700;
      border-radius : .4rem;
      color         : $default-color !important;
      & i {
        float  : left;
        margin : 0 .4rem 0 0;
        &.now-ui-icons {
          top : 0;
        }
        &.fas {
          font-size : 1.2rem;
        }
      }
    }
  }
}

.custom-select {
  height  : unset;
  padding : 1rem;
}

textarea.form-control {
  border : 1px solid rgba($color-black, 0.1) !important;
}

.form-control:focus,
.custom-select:focus,
textarea.form-control:focus {
  border : 1px solid lighten($default-color, 15%) !important;
}

.form-control.is-invalid,
.form-control.is-invalid:focus,
.custom-select.is-invalid,
.custom-select.is-invalid:focus,
textarea.form-control.is-invalid,
textarea.form-control.is-invalid:focus {
  border : 1px solid $color-red !important;
}

.clear {
  content : "";
  display : table;
  clear   : both;
}

[disabled="disabled"] {
  cursor : not-allowed;
}

.page-header-image {
  background-image : url('../../../public/images/bg5.jpg')
}

#index {
  i {
    font-size : $default-font-size-icon
  }
  a#back {
    left : 0;
  }

  a#forward {
    right : 0;
  }
  a {
    margin-top : .8rem;
    position   : absolute;
  }
  .forward, .back {
    line-height : 2.4rem;
    margin-top  : -.2rem;
    font-weight : bold;
  }
}

.card {
  border-radius : .4rem;
  .card-body {
    min-height : unset;
  }
}

.modal {
  &-header {
    background-color : rgba($color-black, .02);
  }
  &-body {
    border-top : 1px solid rgba($color-black, .15);
  }
  &-close {
    font-size : $default-font-size-icon;
  }
  &-title {
    font-size : $default-font-size;
  }
  & small {
    margin-top : 0;
  }

  & .form-group {
    margin-bottom : 2rem;
  }

}

table button i {
  font-size : $default-font-size;
}

.btn-success.btn-round {
  background : radial-gradient(circle at 0% 0%, #8ef985 0%, #075f10 100%);
}

.btn-warning.btn-round {
  background : radial-gradient(circle at 0% 0%, #ffd187 0%, #b57308 100%);
}

.btn-dark.btn-round {
  background : radial-gradient(circle at 0% 0%, #d8d8d8 0%, #272727 100%);
}

.btn-danger.btn-round {
  background : radial-gradient(circle at 0% 0%, #ffbcbc 0%, #a00e0e 100%);
}

.nav-tabs {
  padding: 1.5rem 2rem;
}

.navbar-toggler{
  font-size : 2rem;
  margin-top: .3rem;
}

@media (max-width : 990px) {
  html {
    font-size : 59%;
  }
  .navbar-translate {
    width : 100%;
    button {
      float : right;
    }
  }
  .nav-item.dropdown {
    max-height : 4.2rem;
  }
  .product {
    i, svg {
      font-size : 5rem;
    }
  }
  .table-responsive {
    display : table;
  }
  .modal-dialog {
    max-width : 64rem;
  }
}

@media (max-width : 600px) {
  html {
    font-size : 55%;
  }
  .product {
    i, svg {
      font-size : 3rem;
    }
  }
  .table-responsive {
    display : block;
  }
  a#back, a#forward, [data-title="title"] {
    margin-top    : -.5rem;
    margin-bottom : .5rem;
  }
}