@import "../css/bootstrap.min.css";
@import "../css/now-ui-kit.css";
@import "app/_variables";
@import "app/_mixins";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 57%;
}

body {
    box-sizing: border-box;
    font-family: $default-font;
    height: 100vh;
    font-size: $default-font-size;
    font-weight: 500;
    color: #575958;
    background-color: #f5f6fa;
}

.z-1 {
    z-index: 1;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.alert {
    position: absolute;
    z-index: 900;
    border-radius: 5px;

    &.alert-success {
        background-color: $color-green;
    }

    &.alert-danger {
        background-color: $color-red;
    }
}

#appSideNav {
    left: 0;
    position: fixed;
    z-index: 100;
}

.side-nav {
    transition: all .4s;
    width: 22rem;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);

    &-header {
        border-bottom: 1px solid rgba($color-black, .05);

        a {
            min-width: 5rem;
            font-size: $default-font-size-icon;
            padding: 1rem 0;
            color: $default-color;
        }
    }

    &-link {
        a {
            border-radius: 3px;
            transition: all .2s;
            min-width: 20rem;

            .icon {
                color: $default-color;
            }

            .name {
                color: $default-color;
                transition: opacity .4s;
                opacity: 1;

                &.hide {
                    opacity: 0;
                }
            }

            &.router-link-active,
            &.router-link-exact-active,
            &:hover {
                background-color: $color-white;
            }
        }
    }

    &.active {
        width: 5rem;

        & + div.main {
            width: calc(100% - 5rem);
        }
    }

    & + div.main {
        width: calc(100% - 22rem);
    }
}

.main {
    width: 100%;
    float: right;
    transition: all 0.4s;
    //overflow-x: hidden;
    background-color: unset;
}

.position- {
    &fixed {
        position: fixed;
    }

    &relative {
        position: relative;
    }

    &absolute {
        position: absolute;
    }
}

a,
button,
.button,
.product,
.pointer,
.dropdown-item {
    cursor: pointer;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    width: 100%;
    float: left;
    opacity: 0.6;
}

.hr {
    border: .5px solid #e9ebf3;
    border-radius: 3rem;
}

#index,
#reminder,
#employeeEdit,
#customerRegister,
#employeeRegister {
    input, textarea, select {
        border-radius: .4rem;
    }

    .text-muted {
        margin-top: .15rem;
    }

    h5 {
        background-color: rgba($default-color, 0.07);
        padding: .6rem 1.5rem;
        border-radius: 3px;
        font-size: $default-font-size-icon-small !important;
        font-weight: 600;
        box-shadow: 0 0 .5rem 0 rgba($default-color, 0.08) inset;
        float: left;
        width: 100%;
        color: rgba($default-color, 0.9);
    }

    .h5-custom {
        width: unset;
        float: left;
        padding: 1rem 1.6rem;
    }

    .btn-sm {
        height: 2.8rem;
        width: 2.8rem;
    }
}

.upload {
    &-image {
        min-height: 20rem;
        min-width: 20rem;
        margin: 0 auto;
        background: #fafafa;
        border: 1px dashed rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-box {
        padding: 1rem;
    }

    &-close {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.spaceAfter {
    padding: 1rem 0;
    float: left;
    width: 100%;
}

.spaceBefore {
    padding: .5rem 0;
    float: left;
    width: 100%;
}

.spaceBetween {
    padding: .5rem 0 0 0;
    float: left;
    width: 100%;
}

button, input, optgroup, select, textarea, .form-control::placeholder {
    color: rgba(142, 151, 160, 0.5);
    font-weight: 500;
    font-size: 1.2rem !important;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.bg-default {
    @include transition(.6s);
    background: linear-gradient($default-color-lighter, $default-color-darker);
    color: $color-white !important;

    &.btn {
        border-radius: 3px;
        box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.2);
    }

    &.btn:hover {
        background: linear-gradient(rgba($default-color-lighter, 0.8), rgba($default-color-darker, 0.8)) !important;
    }
}

a {
    text-decoration: none;
    color: inherit;

    &:hover, &:active, &:visited {
        text-decoration: none;
        color: inherit;
    }
}

small.text-muted, form small:not(.error-control) {
    font-size: $default-font-size-small;
    color: $color-red !important;
    float: left;
    width: 100%;
}

.form-group {
    margin-bottom: .8rem;

    & label, .category {
        font-weight: 600;
        color: $default-color;
        margin-bottom: .2rem;
    }
}

input, select {
    max-height: 4rem;
}

[data-bg="default"] {
    background: $default-color;
}

.custom-notify {
    padding: 2rem 3rem;
    background-color: rgba($color-black, 0.05);
    border-radius: 4px;
    border: 1px solid rgba($color-black, 0.1);
    margin-bottom: 2rem;
}

nav {
    z-index: 10;

    .navbar-brand {
        img {
            height: 4rem;
        }
    }

    #navigation {
        li > .nav-link:hover,
        li > .router-link-active,
        li > .router-link-exact-active {
            color: $color-white !important;
            background-color: $default-color;
        }

        .nav-link {
            padding: 1rem 2rem;
            font-weight: 700;
            border-radius: .4rem;
            color: $default-color !important;

            & i {
                float: left;
                margin: 0 .4rem 0 0;

                &.now-ui-icons {
                    top: 0;
                }

                &.fas {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

.custom-select {
    height: unset;
    padding: 1rem;
}

textarea.form-control {
    border: 1px solid rgba($color-black, 0.1) !important;
}

.form-control:focus,
.custom-select:focus,
textarea.form-control:focus {
    border: 1px solid lighten($default-color, 15%) !important;
    box-shadow: rgba(lighten($default-color, 15%), 0.25) 0 0 0 1.596px;
}

.form-control.is-invalid,
.form-control.is-invalid:focus,
.custom-select.is-invalid,
.custom-select.is-invalid:focus,
textarea.form-control.is-invalid,
textarea.form-control.is-invalid:focus {
    border: 1px solid $color-red !important;
}

.clear {
    content: "";
    display: table;
    clear: both;
}

[disabled="disabled"] {
    cursor: not-allowed;
}

.card {
    border-radius: .4rem;

    .card-body {
        min-height: unset;
    }
}

.modal {
    &-header {
        background-color: rgba($color-black, .02);
    }

    &-body {
        border-top: 1px solid rgba($color-black, .15);
    }

    &-close {
        font-size: $default-font-size-icon;
    }

    &-title {
        font-size: $default-font-size;
    }

    & small {
        margin-top: 0;
    }

    & .form-group {
        margin-bottom: 2rem;
    }

}

table button i, table a i {
    font-size: $default-font-size;
}

table a i {
    line-height: 2.75rem !important;
    color: white;
}

.btn-success.btn-round {
    background: radial-gradient(circle at 0% 0%, #8ef985 0%, #075f10 100%);
}

.btn-warning.btn-round {
    background: radial-gradient(circle at 0% 0%, #ffd187 0%, #b57308 100%);
}

.btn-dark.btn-round {
    background: radial-gradient(circle at 0% 0%, #d8d8d8 0%, #272727 100%);
}

.btn-danger.btn-round {
    background: radial-gradient(circle at 0% 0%, #ffbcbc 0%, #a00e0e 100%);
}

.nav-tabs {
    padding: 1.5rem 2rem;
}

.navbar-toggler {
    font-size: 2rem;
    margin-top: .3rem;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

form#messaging {
    textarea {
        font: 500 1.5rem $default-font;
    }
}

.attendance {
    &-create {
        th {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }

        td, th {
            padding-left: 3rem;
            padding-right: 3rem;
        }

        td:nth-child(1), th:nth-child(1) {
            padding-left: 5rem !important;
            padding-right: 0;
        }

        td:nth-child(2) {
            padding-left: 2rem !important;
        }

        td:nth-last-child(1), th:nth-last-child(1) {
            padding-right: 6rem;
        }

        .absent {
            background-color: #fbe2e2;
            border-radius: 5rem;
            padding: 0.4rem 0.8rem;
            color: #b46b67;
            font-weight: 600;
        }

        .present {
            background-color: #ebf8ea;
            border-radius: 5rem;
            padding: 0.4rem 0.8rem;
            color: #618b62;
            font-weight: 600;
        }
    }

    &-view {
        .weekend {
            background: repeating-linear-gradient(45deg, rgba(227, 210, 163, .2), rgba(227, 210, 163, 0.2) 2px, rgba(0, 0, 0, 0.0) 2px,
                rgba(0, 0, 0, 0) 8px), #fffff1;
        }

        .heading.day {
            font-size: 1.2rem;
        }

        .daily-attendance {
            overflow-x: scroll;
        }

        .image-and-names {
            width: 25%;
        }

        .custom-select, .myBtn, .daily-attendance {
            width: 75%;
        }

        td, th {
            height: 6.2rem;
        }

        td {
            position: relative;
            font-weight: 700;
        }

        .table-names {
            td {
                padding: 0;
            }

            thead th {
                padding: 0 1.5rem 0 4rem;
                vertical-align: middle;
                background-color: #f4fbff;
            }
        }

        .table-details {
            thead th {
                min-width: 8rem;
                background-color: #f4fbff;
            }

            td {
                text-align: center;
            }
        }

        .user-details {
            padding: 0 1.5rem 0 4rem;
        }

        td.arrEarly::before,
        td.arrLate::before,
        td.leftEarly::after,
        td.leftLate::after,
        td.absent::before,
        td.didNotSignOut::after {
            content: '';
            height: 2px;
            border-radius: 3rem;
            width: 38%;
            position: absolute;
            bottom: 15%;
            z-index: 3;
        }

        td.arrEarly::before, td.arrLate::before {
            left: 10%;
        }

        td.leftEarly::after, td.leftLate::after {
            right: 10%;
        }

        td.arrEarly::before, td.leftLate::after {
            background-color: #6ca669;
        }

        td.arrLate::before, td.leftEarly::after {
            background-color: #f7b900;
        }

        td.didNotSignOut::after {
            background-color: #ff4c4c;
            right: 10%;
        }

        td.arrEarly.leftLate::before, td.arrEarly.leftLate::after {
            width: 41%;
        }

        td.absent::before {
            width: 80%;
            left: 10%;
            background-color: #ff4c4c;
        }
    }


    &-body {
        margin-left: 7rem;
        margin-right: 7rem;
        z-index: 1;
    }

    &-item {
        background-color: white;
        border-radius: .4rem;
        z-index: 1;
        transition: all 0.2s ease-in-out;
    }

    &-item:hover {
        cursor: pointer;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
        z-index: 10;
        transform: scale(1.005);
    }

    &-head {
        margin-left: 5.5rem;
        margin-right: 5.5rem;
    }

    .no-attendance {
        font-size: 1.6rem;
        font-weight: 600;
        color: #a4a5ab;
    }

}

.title {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
    position: relative;
    float: left;
    border-bottom: 3px solid #2975a5;
    z-index: 1;
}

.title-con::after {
    content: '';
    height: 1px;
    background-color: #e9ebf3;
    position: absolute;
    bottom: 0;
    left: 1.8rem;
    width: calc(100% - 3.6rem);
    z-index: 0;
}

.light-heading {
    font-weight: 600;
    color: #a4a5ab;
}


.user {
    height: 4rem;
    position: relative;
    line-height: 4rem;
    font-weight: 600;
    float: left;
    width: 4rem;
    background-color: whitesmoke;
    color: darkgray;
    border-radius: 50%;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 1rem auto;

    &-icon {
        font-size: 1.8rem;
        line-height: 4rem;
    }

    &-name {
        font-size: 1.1 * $default-font-size;
        font-weight: 600;
    }
}

.text-link {
    font-weight: 600;
    color: #a4a5ab !important;
    transition: all .3s;
}

.text-link:hover {
    color: #2975a5 !important;
    text-decoration: underline !important;
}

.sm-show {
    display: none;
}

.shadow-sm {
    box-shadow: 0 .15rem .3rem rgba(0, 0, 0, .05) !important;
}

.modal .info-table {
    tr {
        margin-bottom: .4rem;
        float: left;
        width: 100%;
        font-weight: 400;
        background-color: rgba(7, 74, 116, .1);
    }

    tbody tr th {
        width: 4rem;
        text-align: center;
        border-right: .4rem solid white;
        border-left: .3rem solid rgba(7, 74, 116, .7);
    }

    tbody tr td {
        padding: .4rem 1.5rem;
    }
}

#view-caution,
#viewAttendance {
    .modal-body span {
        min-width: 10rem;
    }
}

#reminder {
    .attendance-item{
        overflow: hidden;
        min-height: 48px;
        div{
            min-height: 48px;
            line-height: 48px;
            &[data-hoverable="true"]:hover{
                background-color: rgba($default-color, 0.05);
                text-decoration: underline;
                color: $default-text-color;
                font-weight: bold;
            }
        }
    }
    .nav-link {
        font-weight: normal;
        font-size: 1.4rem;
        text-align: center;
        color: #a4a5ab;
        border-radius: 5px 5px 0 0;
        border: 0 solid white;

        &.active, &.active:hover {
            background-color: #2975a5;
            font-weight: bold;
            color: white !important;
        }

        &:hover {
            background-color: #e2e3e7;
            color: $default-text-color;
        }
    }

    [role="tablist"] {
        border-bottom: .5px solid #e9ebf3
    }
}

@media (max-width: 990px) {
    html {
        font-size: 59%;
    }
    .navbar-translate {
        width: 100%;

        button {
            float: right;
        }
    }
    .nav-item.dropdown {
        max-height: 4.2rem;
    }
    .table-responsive {
        display: table;
    }
    .modal-dialog {
        max-width: 64rem;
    }

    .attendance {

        .custom-select {
            width: 90%;
        }

        .myBtn {
            width: 100%;
        }

        .image-and-names {
            width: 30%;
        }

        .daily-attendance {
            width: 70%;
        }

        &-item {
            box-shadow: 0 0.3rem .6rem rgba(0, 0, 0, 0.10) !important;
            padding: .8rem .4rem !important;
        }

        &-item:hover {
            box-shadow: 0 .8rem 2rem rgba(0, 0, 0, .175) !important;
            transform: scale(1.005);
        }

        .no-attendance {
            font-size: 1.4rem;
        }

        &-body {
            margin-left: 3rem;
            margin-right: 3rem;
        }

        &-head {
            margin-left: 1rem;
            margin-right: 1rem;
        }

        &-view {
            .user-details {
                padding: 0 1rem 0 2rem;
            }

            .user-name {
                margin-left: 0;
                margin-right: 0;
            }
        }

        &-create {
            .present, .absent {
                padding: 0.2rem 0.6rem;
            }
        }
    }
    .title {
        font-size: 1.6rem;
        padding-bottom: 1rem;
        border-bottom: .3rem solid #2975a5;
    }
}

tr.current {
    background-color: #f1f4f7;
}

.status {
    padding: 1.2rem 3rem;
    float: left;
    color: white !important;
    border-radius: .5rem;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.2);
    font-weight: 700;
    font-size: $default-font-size;

    &-sm {
        padding: .5rem 1rem;
        border-radius: .4rem;
        font-size: .9 * $default-font-size;
    }

    &.approved {
        background-color: $color-green;
    }

    &.not-approved {
        background-color: $color-red;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 55%;
    }
    .table-responsive {
        display: block;
    }
    .sm-show {
        display: inline-block;
    }
    .sm-hide {
        display: none;
    }
    .myBtn {
        width: 97%;
        margin-right: 3%;
        margin-top: 2.5rem !important;
    }

    .user {
        display: none;
    }
    .user-name {
        padding: 0;
    }

    .attendance {
        &-create {
            .present, .absent {
                padding: 0 0.6rem;
            }
        }

        .image-and-names {
            width: 50%;
        }

        .daily-attendance {
            width: 50%;
        }
    }
}