$color-black : #000000;
$color-white : #ffffff;
$color-green :  rgb(0, 163, 104);
$color-red : rgb(200, 22, 24);
$default-color : #074a74;
$default-font-size : 1.3rem;
$default-font-size-icon : 1.6rem;
$default-color-darker : #05314d;
$default-color-lighter : #09588a;
$default-font-size-small : 1.1rem;
$default-font : 'Raleway', sans-serif;
$default-font-size-icon-small : 1.3rem;
$default-color-gradient : linear-gradient($default-color-darker, $default-color-darker);